vti_encoding:SR|utf8-nl
vti_author:SR|Volker\\Besitzer
vti_modifiedby:SR|Volker\\Besitzer
vti_timelastmodified:TR|26 Feb 2010 20:42:04 -0000
vti_timecreated:TR|26 Feb 2010 20:42:04 -0000
vti_cacheddtm:TX|26 Feb 2010 20:42:04 -0000
vti_filesize:IR|1643
vti_cachedlinkinfo:VX|S|data:image/gif;base64,AAAA S|images/prevlabel.gif S|images/nextlabel.gif
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,AAAA FSUS|lightbox/images/prevlabel.gif FSUS|lightbox/images/nextlabel.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{49E75861-8C9E-4F5C-9CD2-0B4506368779}
vti_backlinkinfo:VX|
